build/
alt_build/
mc-build/
rs-build/
cmake-build-debug/
.idea/
lcm-types/cheetahlcm
lcm-types/c_lcm_files
lcm-types/controllerlcm
lcm-types/interfacelcm
lcm-types/java
lcm-types/simulatorlcm
lcm-types/wincontrollerlcm
lcm-types/file_list.txt
lcm-types/cpp/*
lcm-types/lcmtypes/*
lcm-types/python/*
lcm_data/lcm_log
lcm_data/matlab_log
lcm_data/matlab_log_archive
optimization_data
sim_data
test_data
planning_data
*.m~
*.pyc
documentation/doxygen/latex
documentation/doxygen/html
documentation/doxygen/html
documentation/doxygen/latex
.DS_Store
tags
.vscode/*
matlab/data/test1.csv
matlab/data/robot_server_06_05_2022_01-50-31.csv
matlab/data/robot_server_05_05_2022_14-01-32.csv
matlab/data/robot_server_05_05_2022_13-57-11.csv
matlab/data/mq_telem_06_05_2022_12-25-36.csv
matlab/data/mq_telem_05_05_2022_22-04-05.csv
matlab/data/mq_telem_05_05_2022_21-40-46.csv
matlab/data/mq_telem_05_05_2022_20-24-59.csv
matlab/data/mq_telem_05_05_2022_19-39-58.csv
matlab/data/mq_telem_05_05_2022_19-07-41.csv
matlab/data/mq_telem_05_05_2022_02-15-42.csv
matlab/data/mq_telem_05_05_2022_01-21-48.csv
matlab/data/mq_telem_05_05_2022_00-16-00.csv
matlab/data/mq_telem_04_05_2022_22-25-57.csv
matlab/data/mq_telem_04_05_2022_22-10-42.csv
matlab/data/mq_telem_04_05_2022_19-54-04.csv
matlab/data/mq_telem_04_05_2022_19-36-02.csv
matlab/data/mq_telem_04_05_2022_19-31-48.csv
matlab/data/mq_telem_04_05_2022_18-34-10.csv
matlab/data/mq_telem_04_05_2022_18-17-45.csv
matlab/data/mq_telem_04_05_2022_15-01-20.csv
matlab/data/mq_telem_04_05_2022_14-50-25.csv
matlab/data/mq_telem_04_05_2022_14-47-05.csv
matlab/data/mq_telem_04_05_2022_13-28-27.csv
matlab/data/mq_telem_04_05_2022_13-25-04.csv
matlab/data/mq_telem_04_05_2022_13-18-37.csv
matlab/data/mq_telem_04_05_2022_13-00-35.csv
matlab/data/mq_telem_04_05_2022_12-42-29.csv
matlab/data/mq_telem_03_05_2022_22-40-13.csv
matlab/data/mq_telem_03_05_2022_22-31-48.csv
matlab/data/mq_telem_03_05_2022_22-22-14.csv
matlab/data/mq_telem_03_05_2022_22-06-41.csv
matlab/data/mq_telem_03_05_2022_22-00-23.csv
matlab/data/mq_telem_03_05_2022_21-47-59.csv
matlab/data/mq_telem_03_05_2022_21-24-35.csv
matlab/data/mq_telem_03_05_2022_21-07-35.csv
matlab/data/mq_telem_03_05_2022_21-04-56.csv
*.csv
*.asv
